body{
    background-color: aqua;
    text-align: center;

}
h2{
    color: darkgoldenrod;
    size:50px;
    text-align: center;
    font-size:30px;
}
h4{
    text-align: center;
    color: darkorchid;
    size:50px;
    font-size:30px;
}
h5{
    text-align: center;
    color: darkorchid;
    size:50px;
    font-size:30px;
}
#wtfbutton{
    color: darkred;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:yellow ;
}
h1{
    text-align:center ;
    size:200px;
    color: deeppink;
}
h6{
    size:180px;
    color:blue;
    text-align:center;
    font-size:50px;

}
#cmbutton{
    color: darkred;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:yellow
}
.menu{
    list-style:none;
    position:fixed;
    top:0px;
    width:100%;
    background:white;
    margin-top:0px;
    z-index:30;
    cursor:pointer;
    font-family: 'Indie Flower', cursive;  
}
.items{
    display:inline;
    padding-right:30px;
    padding-left:30px;
    font-size:30px;
    color: darkred;
}
.items:hover{
    background:linear-gradient(#FFFF00 0%, #FF7F50 100%);
    font-size:40px;
    text-decoration:underline;
}